.card-container{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap:20px;
  padding: 20px;
  justify-items: center;
}

.card {
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95) rotateZ(1.3deg);
  }
}
